<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div
        th:fragment="header_section(activeLink)"
        class="header_section"
        th:attrappend="class=${activeLink == 'index'? '_home': ''}">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}"
                           th:classappend="${activeLink == 'index'}? 'active'">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/services}"
                           th:classappend="${activeLink == 'services'}? 'active'">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}"
                           th:classappend="${activeLink == 'about'}? 'active'">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/projects}"
                           th:classappend="${activeLink == 'projects'}? 'active'">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/testimonial}"
                           th:classappend="${activeLink == 'testimonial'}? 'active'">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}"
                           th:classappend="${activeLink == 'contact'}? 'active'">Contact Us</a>
                    </li>
                </ul>
                <section class="form-inline my-2 my-lg-0">
                    <div class="login_text">
                        <ul>
                            <li sec:authorize="isAnonymous()">
                                <a th:href="@{/users/login}">Login</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{https://github.com/roskonenov/TravelNest}">
                                    <i class="fa fa-user" aria-hidden="true">
                                    </i>
                                </a>
                            </li>
                            <li th:if="${activeLink == 'index'}">
                                <a th:href="@{https://github.com/roskonenov/TravelNest}" class="text-center">User:
                                    <th:block th:text="${username}"></th:block>
                                    !
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form class="logoutForm" name="logoutForm"
                          th:method="post"
                          th:action="@{/users/logout}"
                          sec:authorize="isAuthenticated()">
                            <input class="btn" type="submit" value="Logout"/>
                    </form>
                    <div class="quote_btn"
                         sec:authorize="isAnonymous()">
                        <a th:href="@{/users/register}">Register</a>
                    </div>
                </section>
            </div>
        </nav>
    </div>
</div>
</body>
</html>